@import "tailwindcss";

@theme {
  --color-green: oklch(0.875 0.269 142.5);
  --color-red: oklch(0.500 0.202 24.0);
  --color-yellow: oklch(0.865 0.151 88.0);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: oklch(0.138 0.002 86.0);
}
